body {
    font-family: Arial;
    background-color: rgb(205, 221, 235);
    padding:16px 0 ;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
}

h3 {
    margin-top: 5px;
}

.avatar {
    width: 180px;
    height: 180px;
}


section,
header {
    padding: 10px 60px 20px 60px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

 header ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

.container {
    box-shadow: 0 0 20px gray;
    width: 960px;
    margin: 0 auto;
    background-color: white;
}

.adress-icon {
    width: 16px;
    height: 16px;
    background-color: #6495ed;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
}

.hobby {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.hobby li {
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.hobby div {
    margin-left: 20px;
}

.hobby p {
    color: gray;
}

p {
    line-height: 1.5;
}

.cv {
    border: 2px solid cornflowerblue;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 26px;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 20px grey;
}

.cv:hover {
    color: white;
    background-color: cornflowerblue;

}

.cv:active {
    text-decoration: underline;
}

